<mat-card class="card">
  <div class="foto">
    <img  class="img-avatar" src="https://www.petmd.com/sites/default/files/Acute-Dog-Diarrhea-47066074.jpg">
  </div>
  <mat-card-header class="infos">
    <mat-card-title class="name">Camila de Lima Martins</mat-card-title>
    <mat-card-subtitle>Empreendimento/área</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content">
    <h4>DESAFIO:</h4>
    <div class="content-challenge">
      <p>Teste de dic aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div style="display: flex; flex-direction: row; margin-left:3%">
        <!-- <button mat-icon-button style="color: black" aria-label="Example icon-button with a heart icon">
            <mat-icon>check_circle_outline</mat-icon> 
        </button> -->
        <button mat-icon-button style="color: #3ADF00" aria-label="Example icon-button with a heart icon">
            <mat-icon>check_circle</mat-icon>
        </button>
      <p> Concluído!  |   Data de conclusão: 18/06/2019</p>
    </div>
  </mat-card-actions>
</mat-card>