.header-dics{
    width: 93%;
    margin-top: 7%;
    padding: 1%; 
  }
.container-dic{
    width: 93%;
    margin-top: 1%;
    padding: 1%; 
}
.button-add {
    background-color: rgb(33, 189, 33) !important;
    position: fixed;
    right: 1%;
    bottom: 3%;
  }
  
  .button-filter{
    position: absolute;
    float: right; 
    right:6%;
  }
  
  .filter-list{
    position: absolute;
    float: right; 
    right:10%;
  }

  .toolbar-dics{
    display: flex;
    justify-content: center;
    color: white;
  }