<div class="container-login">
  <div class="title-page">
    <h1>D.I.C</h1>
    <h3>Desafio Individual do Colaborador</h3>
  </div>
  
  <div class="container-form">
    <div class="content-form">
        <div class="icon-title-form">
            <div>
                <mat-icon class="icon">account_circle</mat-icon>
            </div>
            <h3 style="color:rgb(54, 54, 54)">Log in</h3>
        </div>
        <form class="form-login"  [formGroup]="formLogin" (ngSubmit)="onSubmit()" >
          <mat-form-field style = "min-width: 90%">
            <input type="email"matInput placeholder="Email" formControlName="email" value="">
          </mat-form-field>
          <mat-form-field style = "min-width: 90%">
            <input type="password"matInput placeholder="Senha" formControlName="password" value="">
          </mat-form-field>
          <button mat-raised-button color="primary" class="button-login" type="submit">Entrar</button>
        </form>
    </div>
  </div>
</div>
